---
import Global from '../layouts/Global.astro';
import StartAnimation from '../components/StartAnimation.astro';
import MyNavigation from '../components/MyNavigation.astro';
import Profile from '../components/Profile.astro';
import Skill from '../components/Skill.astro';
---

<Global title="Christopher Glitch">
	<main class="w-full">
		<StartAnimation />
		<div class="root"> 
			<MyNavigation />
			<div class="relative w-full canvas grad">
				<p class="text-center text-2xl lg:text-4xl absolute top-1/2 left-1/2 font-PressStart -translate-x-1/2 -translate-y-1/2">Welcome to my portfolio</p>
				<div class="text-center text-xs lg:text-base absolute top-96 left-1/2 pixel -translate-x-1/2 -translate-y-1/2 font-PressStart">
					<div class="flex items-center flex-col">
						Please scroll down
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 lg:w-12 lg:h-12">
							<path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
						</svg>
					</div>
				</div>
			</div>
			<Profile />
			<Skill />
		</div>
	</main>
</Global>

<style>

	.root{
		visibility: hidden;
	}

	.canvas{
		height: 500px
	}

	.planet {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: #000000;
    border-radius: 50%;
    animation: fadeIn 1s ease-in, pulse-planet 5s infinite alternate;
		filter: blur(1px);
  }

	.grad {
		background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(255, 3, 87, 0.54) 2%, rgba(223, 118, 255, 0.818) 5%,  rgba(79, 196, 255, 0.818) 15%, rgba(115, 255, 185, 0.818) 20%, rgba(120, 118, 255, 0.818) 28%, #010b8d 40%,  rgba(0, 0, 0, 1) 80%);;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
</style>


<script>

const startAnimation = () => {
	const anime = document.querySelector('.start-animation')!;
	const typing = document.querySelector('.typing')!;
	const root = document.querySelector('.root')!;
	
	document.body.style.overflow = "hidden";

	const typingElement = typing as HTMLElement;
	typingElement.style.display = "block";
	const animeElement = anime as HTMLElement;
	const rootElement = root as HTMLElement;
	

	animeElement.style.visibility = "visible";

	typingElement.addEventListener('animationend', () => {
		typingElement.style.borderRight = "0";
		setTimeout(() => {
			animeElement.style.animation = "fadeOut 1.3s"
			animeElement.addEventListener('animationend', () => {
				animeElement.style.height = "0";
				animeElement.style.visibility = "hidden";
				rootElement.style.animation = "fadeIn ease-in 1s";
				rootElement.style.visibility = "visible";
				document.body.style.overflow = "auto";
				sessionStorage.setItem("started", "true");
			});
		}, 1000);
	});
}

window.onload = () => {
	if (!sessionStorage.getItem("started")) {
			startAnimation();
	}else{
		const anime = document.querySelector('.start-animation')!;
		const animeElement = anime as HTMLElement;
		animeElement.style.height = "0";
		const root = document.querySelector('.root')!;
		const rootElement = root as HTMLElement;
		rootElement.style.visibility = "visible";
	}
}
</script>
