---
import Global from '../layouts/Global.astro';
import StartAnimation from '../components/StartAnimation.astro';
import MyNavigation from '../components/MyNavigation.astro';
import Top from '../components/Top.astro';
import Profile from '../components/Profile.astro';
import Project from '../components/Project.astro';
---

<Global title="Christopher Glitch">
	<main class="w-full">
		<StartAnimation />
		<div class="root" id="top"> 
			<MyNavigation />
			<Top />
			<Profile />
			<Project />
		</div>
	</main>
</Global>

<style>

	.root{
		visibility: hidden;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
</style>


<script>

const startAnimation = () => {
	const anime = document.querySelector('.start-animation')!;
	const typing = document.querySelector('.typing')!;
	const root = document.querySelector('.root')!;
	
	document.body.style.overflow = "hidden";

	const typingElement = typing as HTMLElement;
	typingElement.style.display = "block";
	const animeElement = anime as HTMLElement;
	const rootElement = root as HTMLElement;
	

	animeElement.style.visibility = "visible";

	typingElement.addEventListener('animationend', () => {
		typingElement.style.borderRight = "0";
		setTimeout(() => {
			animeElement.style.animation = "fadeOut 1.3s"
			animeElement.addEventListener('animationend', () => {
				animeElement.style.height = "0";
				animeElement.style.visibility = "hidden";
				rootElement.style.animation = "fadeIn ease-in 1s";
				rootElement.style.visibility = "visible";
				document.body.style.overflow = "auto";
				sessionStorage.setItem("started", "true");
			});
		}, 1000);
	});
}

window.onload = () => {
	if (!sessionStorage.getItem("started")) {
			startAnimation();
	}else{
		const anime = document.querySelector('.start-animation')!;
		const animeElement = anime as HTMLElement;
		animeElement.style.height = "0";
		const root = document.querySelector('.root')!;
		const rootElement = root as HTMLElement;
		rootElement.style.visibility = "visible";
	}
}
</script>
