---
---

<div class="relative w-full canvas grad">
	<p class="text-center text-2xl lg:text-4xl absolute top-1/2 left-1/2 font-PressStart -translate-x-1/2 -translate-y-1/2">Welcome to my portfolio</p>
	<div class="text-center text-xs lg:text-base absolute top-96 left-1/2 pixel -translate-x-1/2 -translate-y-1/2 font-PressStart">
		<div class="flex items-center flex-col">
			Please scroll down
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 lg:w-12 lg:h-12">
				<path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
			</svg>
		</div>
	</div>
</div>

<style>
	.canvas{
		height: 500px
	}

	.grad {
		background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(255, 3, 87, 0.54) 2%, rgba(223, 118, 255, 0.818) 5%,  rgba(79, 196, 255, 0.818) 15%, rgba(115, 255, 185, 0.818) 20%, rgba(120, 118, 255, 0.818) 28%, #010b8d 40%,  rgba(0, 0, 0, 1) 80%);;
	}

</style>